{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 100,
  "editor.formatOnSave": true,
  "source.organizeImports": true,
  "source.sortMembers": true
}